<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="">
          <h1 class=" mb-1">Especialidades</h1>
          <p id="mensajeTablaVacia" class="tablaVacia"></p>
        </div>
        <div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEspecialidad">
            Agregar Especialidad
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div class="card table-responsive">
    <table class="table mb-0 text-nowrap ">
      <thead class="table-light border-light">
        <tr>
          <th scope="col">Especialidad</th>
          <th scope="col"></th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody id="tbodyEspecialidades">

      </tbody>
    </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalEspecialidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloModal"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-4">
                <form id="addProductForm">

                  <input type="" id="especialidadId" value="0" />

                  <div class="row">
                    <div class="col-md-8 mb-3">
                      <label for="nombreEspecialidad" class="form-label">Nombre Especialidad</label>
                      <input type="text" class="form-control mayuscula" id="nombreEspecialidad"
                        placeholder="Ingrese el nombre de la especialidad">
                      <span id="errorNombreEspecialidad" class="errorCampoVacio"></span>
                    </div>
                    
                  </div>


                </form>
              </div>
            </div>


          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="CargarEditarEspecialidad()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/especialidad.js"></script>